extends ../layouts/default
 
mixin post(post) 
    .post(data-ks-editable=editable(user, { list: 'Resource', id: post.id }))
 
        div.col-sm-12.nopad
            hr
 
            //post title
            h2.center!= post.title
            h4!= post.organization
            //post content
            br
            p!= post.description
            
            if post.phone
              a.btn.btn-primary.btn-xlg.btn-block(href='tel:' + post.phone) Click to Call
              
            if post.email
              a.btn.btn-primary.btn-xlg.btn-block(href='mailto:' + post.email) Email
              
            if post.website
              a.btn.btn-primary.btn-xlg.btn-block(href=post.website) Visit Website
            
            if post.address
              a.btn.btn-primary.btn-xlg.btn-block(href=post.address) Get Directions
 
block intro 
    .container
        h1= 'Resources'
 
block content 
    .container: .row
        .col-sm-12.col-md-12
                if data.posts.results.length
                    if data.posts.totalPages > 1
                        h4.text-weight-normal Showing
                            strong #{data.posts.first}
                            |  to
                            strong #{data.posts.last}
                            |  of
                            strong #{data.posts.total}
                            |  posts.
                    else
                        
                    .blog
                        each post in data.posts.results
                            +post(post)
 
                    if data.posts.totalPages > 1
                        ul.pagination
                            if data.posts.previous
                                li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
                            else
                                li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
                            each p, i in data.posts.pages
                                li(class=data.posts.currentPage <mark> p ? 'active' : null)
                                    //- a(href='?page=' + (p </mark> '...' ? (i ? data.posts.totalPages : 1) : p ))= p
                            if data.posts.next
                                li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
                            else
                                li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
                else
                        h3.text-muted There are no posts yet.
